.card {
  --notch-size: 12px;
  overflow: hidden;
  border: 0;
  border-radius: 15px;
  padding: 30px 30px 50px;
  background: var(--beige);
  text-align: center;
  color: var(--black);
  corner-shape: scoop;
  mask-image: url(./paper-top.png), url(./paper-bottom.png), linear-gradient(#000, #000);
  mask-position: 50% 0, 50% calc(100% + 15px), 50%;
  mask-size: auto 16px, auto 30px, 100% 100%;
  mask-repeat: repeat-x, repeat-x, no-repeat;
  mask-composite: exclude;
  mask-mode: alpha;
  container: card / inline-size;
  :has(> img) {
    --card-padding: 3rem;
  }
  :is(h2, p) {
    margin: 0;
    padding-inline: var(--content-padding);
  }
}
