.hide-header-title header h1 {
  visibility: hidden;
}

header{
  position: fixed;
  z-index: calc(infinity + 1);
  top: 0;
  border-bottom: 1px solid var(--light-grey);
  width: 100%;
  padding-block: 1rem;
  view-transition-name: header;
  .container > *{
    grid-column: feature;
  }
  h1{
    --fs-min: 24px;
    --fs-max: 30px;
    margin: 0;
    font-family: var(--font-display);
    line-height: 1;
    color: var(--dark-grey);
    text-wrap: pretty;
  }
  small{
    view-transition-name: location;
  }
}