.slide {
  --entry-padding: 0px;
  height: var(--display-height);
  margin-block-start: var(--header-height, 63px);
  @container style(--is-shaq: true) {
    .entryscreen {
      --entry-padding: 10rem;
    }
  }
  &[data-background="navy"] {
    background-color: var(--color-navy);
    color: var(--white);
  }
  &[data-background="pink"] {
    background-color: var(--color-pink);
    color: var(--color-navy);
  }
  &[data-background="yellow"] {
    background-color: var(--color-yellow);
    color: var(--color-navy);
  }
  &[data-background="blue"] {
    background-color: var(--color-blue);
    color: var(--white);
  }
  &[data-background="red"] {
    background-color: var(--color-red);
    color: var(--white);
  }
  h1 {
    --fs-min: 47px;
    --fs-max: 96px;
    font-family: var(--font-serif);
    color: var(--color-orange);
    &:first-of-type {
      margin-top: 0;
      margin-bottom: 0;
      anchor-name: --title;
    }
  }
  .aside{
    margin: 0 -0.4em;
    border: none;
    border-radius: 0.8em 0.3em;
    padding: 0.1em 0.4em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
}

.entryscreen {
  display: grid;
  min-height: var(--display-height);
  padding-block: var(--entry-padding);
  place-items: center;
  grid-column: full-bleed;
  grid-template-columns: subgrid;
  &.demo{
    place-items: start;
  }
  svg {
    --qr-dark: white;
    display: grid;
    width: 100%;
    grid-column: body-start / body-end;
  }
  &:has(.title-slide){
    > div {
      grid-column: body;
    }
  }
  &:has(.profile-slide){
    > div {
      width: 100%;
      container-type: inline-size;
      container-name: slide-content;
    }
  }
  &:has(.company-slide){
    > div {
      align-self: flex-end;
      width: 100%;
      container-type: inline-size;
      container-name: slide-content;
    }
  }

  &.small {
    grid-column: body-start/body-end;
  }
  > div {
    grid-column: feature-start / feature-end;
  }
  .point-down {
    text-align: center;
  }
  .inline {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

button {
  padding: 0;
  cursor: pointer;
  &:has(> svg) {
    appearance: none;
    border: none;
    background-color: transparent;
  }
  svg {
    width: 2rem;
    color: var(--warm-grey);
    fill: currentColor;
    pointer-events: none;
  }
}

.code-slide{
  .label{
    top: calc(anchor(start) - 0.8lh);
    left: calc(anchor(start) - 6ch);
  }
}

.reflex-slide{
  li{
    &::marker{
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='16' height='16'%3E%3Cg fill='none' stroke='currentColor' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolygon points='18,14 82,14 97,44 50,95 3,44'/%3E%3Cline x1='3' y1='44' x2='97' y2='44'/%3E%3Cline x1='18' y1='14' x2='28' y2='44'/%3E%3Cline x1='40' y1='14' x2='28' y2='44'/%3E%3Cline x1='40' y1='14' x2='50' y2='44'/%3E%3Cline x1='60' y1='14' x2='50' y2='44'/%3E%3Cline x1='60' y1='14' x2='72' y2='44'/%3E%3Cline x1='82' y1='14' x2='72' y2='44'/%3E%3Cline x1='28' y1='44' x2='50' y2='95'/%3E%3Cline x1='50' y1='44' x2='50' y2='95'/%3E%3Cline x1='72' y1='44' x2='50' y2='95'/%3E%3C/g%3E%3C/svg%3E");
      font-size: 16px;
    }
  }
}