.title-card {
    max-width: max-content;
  h1 {
    --fs-max: 215px;
    --fs-prefered: 15vw;
    font-family: var(--font-serif);
    color: var(--color-orange);
  }
  .subtitle{
    position: absolute;
    bottom: calc(anchor(end) - 15px);
    right: calc(anchor(right) + 2ch);
    position-anchor: --title;
  }
}