---
import { Image } from 'astro:assets';
import IntroLayout from '../layouts/Layout.astro';
import Slide from '../components/Slide.astro';
import ProfileCard from '../components/ProfileCard.astro';
---

<IntroLayout title="Brynn Briedis | What a mug">
  <Slide>
    <div class="entryscreen">
      <div class="profile-slide">
        <ProfileCard title="Brynn Briedis" subtitle="Software Engineer, Writer, and Artist"/>
      </div>
    </div>
  </Slide>
</IntroLayout>