---
import IntroLayout from '../layouts/Layout.astro';
import IntroNavigation from '../components/IntroNav.astro';
import Slide from '../components/Slide.astro';


---

<IntroLayout title="Welcome to Astro." fullscreen="true">
  <Slide>
    <h1 class="text-sticker">
      Rethingking the JavaScript Reflex
    </h1>
  </Slide>
</IntroLayout>