---
import IntroLayout from '../layouts/Layout.astro';
import IntroNavigation from '../components/IntroNav.astro';
import Slide from '../components/Slide.astro';
import TitleCard from "../components/TitleCard.astro";

---

<IntroLayout title="Welcome to Astro.">
  <Slide>
    <div class="entryscreen">
      <div class="title-slide">
        <TitleCard title="Rethinking the JavaScript Reflex" subtitle="Brynn Briedis"/>
      </div>
    </div>
  </Slide>
</IntroLayout>