---
import Progress from './Progress.astro'
---
<footer class="container">
  <nav class="navbar" >
    <button id="prevBtn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
      </svg>
    </button>
    <button id="nextBtn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
      </svg>
    </button>
  </nav>
  <Progress />
</footer>
<script>
  import '../scripts/utils/navigation'
</script>
