---
import { customSlide } from '../scripts/utils/transitions'

const { transition, background } = Astro.props
---
<section class="slide container paper-grid" transition:animate={transition ?? customSlide} data-background={background}>
  <slot />
</section>