---
import { ClientRouter } from 'astro:transitions';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';

import '../styles/main.css';

interface Props {
	title: string;
	backgroundColor?: string;
	fullscreen?: boolean;
}

const { title, backgroundColor, fullscreen } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=Gochi+Hand&display=swap" rel="stylesheet">
		<ClientRouter />
	</head>
	<body class={fullscreen ? 'hide-header-title' : ''}>
		<Header />
		<slot />
		<Navigation />
	</body>
</html>
<script>
	function getScrollPercentage() {
		let scrollTop = document.documentElement.scrollTop;
		let scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
		let scrollPercentage = (scrollTop / scrollHeight) * 100;
		return scrollPercentage;
	}
	function measureHeaderHeight() {
		const header = document.querySelector("header")
		if (!header) return
		const headerHeight = header.offsetHeight
		document.documentElement.style.setProperty("--header-height", `${headerHeight}px`)
	}
	function measureFooterHeight() {
		const footer = document.querySelector("footer")
		if (!footer) return
		const footerHeight = footer.offsetHeight
		document.documentElement.style.setProperty("--footer-height", `${footerHeight}px`)
	}
	window.addEventListener('scroll', () => {
		document.documentElement.style.setProperty('--scroll-pos', getScrollPercentage().toFixed(2));
	})
	window.addEventListener("resize", () => {
		measureHeaderHeight()
		measureFooterHeight()
	})
</script>
<style is:global>
	html, body{
		margin: 0;
		padding: 0;
	}
</style>
